In [6]:
import pandas as pd
from pathlib import Path

In [8]:
df1 = pd.read_csv('Resources/Monopoly_Alcohol_Distribution.csv')
df2 = pd.read_csv('Resources/Merged Suicide Rates.csv')

# Convert 'Period' and 'Year' columns to numeric
df1['Period'] = pd.to_numeric(df1['Period'], errors='coerce')
df2['Year'] = pd.to_numeric(df2['Year'], errors='coerce')

# Filter both DataFrames for the years 2010-2017
df1_filtered = df1[(df1['Period'] >= 2010) & (df1['Period'] <= 2017)]
df2_filtered = df2[(df2['Year'] >= 2010) & (df2['Year'] <= 2017)]

# Merge the filtered DataFrames on 'Location' & 'Entity' and 'Period' & 'Year'
merged_df = pd.merge(df1_filtered, df2_filtered, left_on=['Location', 'Period'], right_on=['Entity', 'Year'], how='inner')

# Remove duplicates from the merged DataFrame
merged_df_cleaned = merged_df.drop_duplicates()
merged_df_cleaned = merged_df_cleaned.dropna(axis=1, how='all')
# Display the cleaned merged DataFrame
merged_df_cleaned

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),"Suicide rate (deaths per 100,000 individuals)","Depressive disorder rates (number suffering per 100,000)"
0,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,EUR,Europe,Country,AND,Andorra,Year,2016,...,2016.0,0.263603,0.963614,6.457750e-01,5.307073,0.907981,3.726825,1.253886,7.944370,3415.914479
1,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,EUR,Europe,Country,AND,Andorra,Year,2016,...,2016.0,2.779472,4.697816,7.700000e+04,NaN,NaN,NaN,NaN,7.944370,3415.914479
2,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,EUR,Europe,Country,AND,Andorra,Year,2016,...,2016.0,0.263603,0.963614,6.457750e-01,5.307073,0.907981,3.726825,1.253886,7.944370,3415.914479
3,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,EUR,Europe,Country,AND,Andorra,Year,2016,...,2016.0,2.779472,4.697816,7.700000e+04,NaN,NaN,NaN,NaN,7.944370,3415.914479
4,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,EUR,Europe,Country,AND,Andorra,Year,2016,...,2016.0,0.263603,0.963614,6.457750e-01,5.307073,0.907981,3.726825,1.253886,7.944370,3415.914479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,AFR,Africa,Country,ZWE,Zimbabwe,Year,2016,...,2016.0,2.799308,3.479071,1.403000e+07,NaN,NaN,NaN,NaN,26.839591,3081.782858
998,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,AFR,Africa,Country,ZWE,Zimbabwe,Year,2016,...,2016.0,0.157111,0.610234,1.214560e-01,3.104294,0.772275,3.174134,1.513269,26.839591,3081.782858
999,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,AFR,Africa,Country,ZWE,Zimbabwe,Year,2016,...,2016.0,2.799308,3.479071,1.403000e+07,NaN,NaN,NaN,NaN,26.839591,3081.782858
1000,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,AFR,Africa,Country,ZWE,Zimbabwe,Year,2016,...,2016.0,0.157111,0.610234,1.214560e-01,3.104294,0.772275,3.174134,1.513269,26.839591,3081.782858
1001,SA_0000001802,Monopoly on wholesale /distribution of alcohol...,text,AFR,Africa,Country,ZWE,Zimbabwe,Year,2016,...,2016.0,2.799308,3.479071,1.403000e+07,NaN,NaN,NaN,NaN,26.839591,3081.782858

In [5]:
merged_df_cleaned.to_csv('Acoholdistribution.csv', index=False)